body {
  background-color: rgb(158, 188, 166);
}
.input_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 7px rgba(199, 222, 164, 0.993);
}
.input_item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.input_item:last-child {
  margin-bottom: 0;
}
.input_label {
  width: 160px;
  margin-right: 5px;
  text-decoration: underline;
}
#input_desc,
#input_link {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  outline: none !important;
}
#input_desc:focus,
#input_link:focus {
  outline: none !important;
}
.save_btn {
  width: 70%;
  border-radius: 5px;
  border: 1px solid grey;
  text-transform: uppercase;
  background-color: #eef1f2b8;
}
.header_title {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.block {
  border: 1px solid #9ca2a3cc;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px #948e8e;
  width: 400px;
  margin: 20px auto;
  display: block;
  background-color: #eef1f2b8;
  position: relative;
}
.block:hover {
  box-shadow: 0px 0px 10px #aacd48b6;
}
.block_title {
  font-size: 16px;
}
.block_link {
  margin-right: 10px;
}
.block_link:link {
  text-decoration: none;
}
.block_link:visited {
  text-decoration: none;
}
.block_link:hover {
  text-decoration: none;
}
.block_link:active {
  text-decoration: none;
}
.block_ico {
  width: 20px;
  color: grey;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s;
  position: absolute;

  cursor: pointer;
  width: 20px;
  color: grey;
  cursor: pointer;
}
.ico_copy{
  bottom: 10px;
  right: 55px;
}
.ico_del{
  bottom: 10px;
  right: 20px;
}
.block_ico:hover {
  opacity: 1;
}
.app_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}
.app_modal_msg {
  background-color: #fff;
  border: 1px solid #bfb4b4;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
  width: 200px;
  height: 41px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.app_modal_ico {
  color: green;
  width: 20px;
  height: 20px;
}
@media (max-width: 425px) {
  body {
    padding-left: 0;
    padding-right: 0;
    min-width: 260px;
  }
  .block {
    width: 90%;
  }
  .block_link {
    display: block;
    margin-bottom: 10px;
  }
}
